@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico');

/* ---- Navbar - Header -------------- */
/* ----------------------------------- */
#navbar {
    background-color: #00040D;
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre izquierda y derecha */
    align-items: center; /* Centrar los elementos verticalmente */
    height: 60px;
    width: 100%;
    line-height: 60px;
    padding: 24px 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

#navbar .left {
    display: flex;
    align-items: center;
}

#navbar .imgm {
    width: 140px;
    height: auto;
    margin-right: 10px;
}

#navbar .nav-name {
    color: white;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 25px; /* Puedes ajustar el tamaño */
}

#navbar .right {
    display: flex;
    align-items: center;
}

#navbar .nav {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Espacio entre los enlaces */
    font-family: var(--text-font-family, var(--nav-link-font-family));
}

/* Imagen en el navbar */
#navbar img {
    height: 50px;
}
/* ----------------------------------- */

/* Estilo de los proyectos */
#contenedor-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: 8%;
}

/* Estilo de las imágenes de los proyectos */
.img_drive {
    width: 500px;
    height: 300px;
    margin-left: -15%;
}

/* Estilos generales de las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilo del título */
h1 {
    color: #B844D5;
    text-align: center;
    font-size: 30px;
}


/* ---- Cohete  ---------------------- */
/* ----------------------------------- */
#rocket {
    background: none;
    position: absolute;
    width: 150px; /* Ajusta el tamaño */
    top: 20%;
    left: 10%;
    z-index: 20;
}

/* ---- Cohete -  Botón "DESPEGAR" --- */
#start-button {
    position: absolute;
    top: 15%;      /* Ajusta según la posición deseada cerca del cohete */
    left: 12%;     /* Ajusta según la posición deseada cerca del cohete */
    font-size: 1.2rem;
    padding: 5px 12px;
    background-color: #032059;   /* Color principal de fondo */
    color: #ffffff;;              /* Color de texto */
    border: 1px solid #ffffff;    /* Borde con uno de los acentos */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 100;
  }
  
  #start-button:hover {
    background-color: #021D40;  /* Color al pasar el cursor */
    transform: scale(1.05);
  }
  


