@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico');

/* Estilo general del navbar */
#navbar {
    background-color: #00040D;
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre izquierda y derecha */
    align-items: center; /* Centrar los elementos verticalmente */
    height: 60px;
    width: 100%;
    line-height: 60px;
    padding: 24px 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

#navbar .left {
    display: flex;
    align-items: center;
}

#navbar .imgm {
    width: 140px;
    height: auto;
    margin-right: 10px;
}

#navbar .nav-name {
    color: white;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 25px; /* Puedes ajustar el tamaño */
}

#navbar .right {
    display: flex;
    align-items: center;
}

#navbar .nav {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Espacio entre los enlaces */
    font-family: var(--text-font-family, var(--nav-link-font-family));
}

/* Imagen en el navbar */
#navbar img {
    height: 50px;
}

/* Estilo de los proyectos */
#contenedor-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: 8%;
}

/* Estilo de las imágenes de los proyectos */
.img_drive {
    width: 500px;
    height: 300px;
    margin-left: -15%;
}

/* Estilos generales de las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilo del título */
h1 {
    color: #B844D5;
    text-align: center;
    font-size: 30px;
}

body {
    margin: 0;
    overflow: hidden;
}



#rocket {
    background: none;
    position: absolute;
    width: 150px; /* Ajusta el tamaño */
    top: 20%;
    left: 10%;
    z-index: 20;
}


/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    /* Ajustes para que los elementos del navbar se apilen verticalmente */
    #navbar {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos a la izquierda */
        padding: 20px;
    }

    #navbar .left, #navbar .right {
        width: 100%;
        justify-content: flex-start; /* Alinea todos los elementos a la izquierda */
        margin-bottom: 10px;
    }

    #navbar .nav {
        margin-left: 0;
        margin-right: 20px;
        font-size: 14px; /* Ajusta el tamaño de fuente en móvil */
    }

    #navbar .imgm {
        width: 100px; /* Reducción de tamaño de la imagen */
        margin-left: 0;
    }

    /* Ajustar el tamaño de la imagen de los proyectos */
    .img_drive {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

   /* Estilo para el icono del menú hamburguesa */
  .hamburger {
      display: none; /* Oculto por defecto */
      font-size: 30px;
      color: white;
      cursor: pointer;
  }

  
    /* Mostrar los enlaces cuando el menú de hamburguesa esté activo */
    #navbar.active .right {
        display: flex; /* Los enlaces se muestran */
    }

    /* Ajustar el tamaño de la imagen de los proyectos */
    .img_drive {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    h1 {
        font-size: 20px; /* Ajustar el tamaño del título */
    }
}
